* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8eded;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
@font-face {
  font-family: scriptina;
  src: url("/fonts/SCRIPTIN.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.heading {
  text-align: center;
  margin: 30px 0 30px 0;
  font-family: "scriptina", sans-serif;
  font-size: 4em;
  font-weight: bold;
  background: linear-gradient(180deg, #2424b3, #0bcca2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
